.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;

      /* The image used */
    /* background-image: url("../public/doge_1.gif"); */

  /* Full height */
    /* height: 100%; */

  /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}



.bgText {
    position: absolute;
    margin: 0;
    padding-left: 10px;
    /* font-size: 2rem; */
    line-height: 3rem;
    text-align: center;
    font: "Droid Serif";
    font-size: "2rem";
    /* text-shadow: 1px 1px 1px #3c5c5e; */
    z-index: 1;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    width: 95%;
    /* border: 3px solid #8AC007; */
  }

  .slash {
    color: rgba(255,209,128,0.71);
  }